In [2]:
# starting with string
first = "Abuzer"
last = "khan"
print(first)
print(last)

Abuzer
khan

In [20]:
# we can accest the letter of the name using indexing number
first[0]
first[1]
first[2]

'u'

In [42]:
# slicing method it helps to accest the letter form start to end or middle to ending
first[0:2] #it is slicing method
last[0 : 5] 
first[1:]
# negative slicing 
lastname = "python"
lastname[-6:]
lastname[-4 : -2]
lastname[ :: -1]

'nohtyp'

In [3]:
# write full name using python 
# it is a concatination to add two string 
fullname = first + " " + last 
print(fullname)

Abuzer khan

In [6]:
# another way to write full name ( python format string )
age = 23
fullname2 = f"{first} {last}  is {age} years old "
print(fullname2)

Abuzer khan  is 23 years old

In [16]:
#strip function it only remove space between from the beginning and end of a string. It does not remove spaces in the middle of the text.
Name = 'Mohammad Abuzer khan'
age = 23 
address = " Biratnagar-06".strip()
Degree = 'Bit'
role = " Data Scientist".strip()
Aboutmyself = f''' {Name} is {age} years old . He is living in {address} and he had passed bachelor in {Degree} and its work as a {role}. '''

print(Aboutmyself)

 Mohammad Abuzer khan is 23 years old . He is living in Biratnagar-06 and he had passed bachelor in Bit and its work as a Data Scientist.

In [17]:
#replace function 
Name = 'Mohammad Abuzer khan'
age = 23 
address = " Biratnagar-06"
Degree = 'Bit'
role = " Data Scientist"

Aboutmyself = f'''{Name} is {age} years old. He is living in {address} and he had passed bachelor in {Degree} and works as a {role}.'''

print(Aboutmyself.replace("  " , " " ))

Mohammad Abuzer khan is 23 years old. He is living in Biratnagar-06 and he had passed bachelor in Bit and works as a Data Scientist.

In [15]:
Name = 'Mohammad Abuzer khan'
age = 23 
address = " Biratnagar-06".strip()  # Remove leading/trailing spaces
Degree = 'Bit'
role = " Data Scientist".strip()  # Remove extra space

Aboutmyself = f'''{Name} is {age} years old. He is living in {address} and he had passed bachelor in {Degree} and works as a {role}.'''

print(Aboutmyself)

Mohammad Abuzer khan is 23 years old. He is living in Biratnagar-06 and he had passed bachelor in Bit and works as a Data Scientist.

In [43]:
# len  check the length of the data
print(len(Aboutmyself))

134

In [44]:
# single qoute 
single = ' i am from "nepal" '
single

' i am from "nepal" '

In [49]:
# double qoute
double = "i am from 'nepal'    "
print(double.strip())

i am from 'nepal'

In [66]:
# tripe qoute
vegbiryani = ''' 
Veg Biryani is a flavorful and aromatic rice dish made with basmati rice, mixed vegetables, 
and a blend of fragrant spices, cooked to perfection for a delicious and wholesome meal.
''' 
print(vegbiryani.find("rice"))

42

In [63]:
# (in) to find anything from paragraph
finding = "delicious"

print(finding in vegbiryani)

True

In [64]:
# find the index of value using ( find function )  
vegbiryani.find(finding)

154

In [68]:
# isdigit() it only work on string 
value = '234'
print(value.isdigit())

True

In [72]:
value2 = 123
check = str(value2).isdigit()
print(check)

True

In [74]:
# uppercase
upper = "abcd"
upper.upper()

'ABCD'

In [82]:
#lowercase
lower = 'ABCD'
check = lower.lower()
print(check)
print(lower)

abcd
ABCD

In [81]:
#replace 
myname = 'mohammad abuzer khan '
replaceValue= myname.replace('abuzer' , 'danish')
print(myname)
print(replaceValue)

mohammad abuzer khan
mohammad danish khan

In [85]:
# index
myname.index('abuzer')

9

In [101]:
# split function 
question = "where | are |  you  from  buddy "
question.split(" | ")

['where', 'are', ' you  from  buddy ']

In [102]:
data = "apple,banana,grape"
fruits = data.split(",")
print(fruits)

['apple', 'banana', 'grape']

In [ ]:
If no separator is given, it splits on whitespace.
✅ Returns a list of substrings.
✅ Does not modify the original string (because strings are immutable).

In [103]:
data = "apple|banana|grape"
fruits = data.split("|")
print(fruits)

['apple', 'banana', 'grape']